input {
  border-radius: 25px;
  border-style: inset;
  color: black;
  display: inline-block;
  font-weight: 600;
  margin-top: 12px;
  min-width: 115px;
  padding: 9px 9px 9px 12px;
  width: inherit;
}

button {
  background-color: #f7931a;
  border-radius: 25px;
  border-style: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 12px;
  padding: 8px;
}

p {
  color: #f7931a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
}

.form-control {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

label {
  position: absolute;
  left: 19px;
  top: 4px;
  background-color: white;
  font-size: 13px;
  font-family: arial;
  padding: 0 2px;
}
