<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/css/autoComplete.min.css">
    <link rel="stylesheet" href="../styles/crypto-web-component.css">
</head>
<body>
    <div class="container">
        <header class="header">
          <h1>Crypto Web Component</h1>
        </header>
        <div class="body" align="center">
          <div class="autoComplete_wrapper">
            <input id="autoComplete" type="text" tabindex="1">
          </div>
          <div class="mode">
            <h4>mode</h4>
            <div class="toggle">
              <div class="toggler">Strict</div>
            </div>
          </div>
          <div class="selection"></div>
        </div>
      </div>
    <button id="fetchCryptoValue">Fetch a cryptocurrency</button>
    <script src="../scripts/autocomplete.js"></script>
</body>