crypto-web-component::part(button) {
    background-color: #f7931a;
    border-radius: 25px;
    border-style: none;
    color: mintcream;
    font-family: Georgia, serif;
    font-size: 16px;
    margin-top: 12px;
    padding: 8px;
}

crypto-web-component::part(container) {
    background-color: antiquewhite;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    width: 30%;
}

crypto-web-component::part(img) {
    height: 75px;
}

crypto-web-component::part(input) {
    border-radius: 25px;
    border-style: inset;
    color: #f7931a;
    display: inline-block;
    font-weight: 600;
    margin-top: 12px;
    min-width: 115px;
    padding: 9px 9px 9px 12px;
    width: inherit;
}

crypto-web-component::part(p) {
    color: #f7931a;
    font-family: Georgia, serif;
    font-size: 24px;
    text-align: center;
}